.gradle
/build
/captures
.DS_Store
.externalNativeBuild
.idea
*.iml
local.properties
proguard-rules.pro.obfuscated
gradlew
gradlew.bat
/app/build
/app/.externalNativeBuild
/app/captures
/app/debug.keystore
/app/release/*.apk
/app/release/*.aab
/app/outputs